.mapInfoWindow
	position: absolute

	&-wrapper
		overflow: hidden
		padding: 10px 15px
		background: #fff
		font-size: 18px
		line-height: 22px
		font-weight: 500
		color: #323232
		font-family: "futura-pt", sans-serif
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15)
		border-radius: 3px
		max-width: 300px
		transform: translate(-50%, -100%)

	&-close
		float: right
		cursor: pointer

	&._wide
		padding: 13px 15px