* {
	margin: 0;
	padding: 0;
	line-height: 0;
	outline: 0;
	border: 0;
	}

body, html {
	height: 100%;
	font-family: "futura-pt", sans-serif;
	font-weight: 400;
}

body.-menuOpened{
	overflow: hidden;
}

.pageMenu .footer{
	background-color: #fff;
}

.pageMenu-background{
	background: url(../img/static/cafe_menu_bg.jpg) center no-repeat;
	background-size: cover;
	// Растяжка
	//display: flex;
	//flex-direction: column;
	//align-items: stretch;
	//height: 100%;
}
// Растяжка
//.pageMenu-background .container {
//	flex-grow: 1;
//	flex-shrink: 1;
//	flex-basis: auto;
//	overflow: auto !important;
//}
// Растяжка
//.pageMenu-background .footer {
//	flex-grow: 0;
//	flex-shrink: 0;
//	flex-basis: auto;
//}
// Растяжка
//.pageMenu-background .container {
//	margin: 0 auto;
//	padding: 0 20px;
//}

.loadingBlock {
	text-align: center;
	padding: 50px 30px;
	& > img {
		display: inline-block;
	}
}
.pageMenu .popUp {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(#000, 0.75);
	overflow-y: auto;
	text-align: center;

	&::before {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		content: '';
	}

	&-exit {
		margin-bottom: 20px;
		text-align: right;

		&-link {
			display: inline-block;
		}
	}
	&-content {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: auto;
		padding: 20px;
		box-sizing: border-box;
	}
	&-image {

		& > img {
			width: 600px;
		}
	}

}

@media all and (max-width: 768px){
	.pageMenu .popUp {

		&-content {
			width: calc(100% - 4px);
		}

		&-image {

			& > img {
				width: 100%;
			}
		}
	}
}

@media all and (max-width: 864px){
	.pageMenu-background{
		background: url(../img/static/paper.jpg);
	}
}

b {
	font-weight: 500;
}

.pageLesson {
	.header {
		width: 100%;
		position: fixed;
		margin-top: 0;
		padding-top: 25px;
		padding-bottom: 20px;
		z-index: 2;
		background: #fff;
		&-wrapper {
			width: 85%;
			margin: 0 auto;
			display: flex;
		}
		.nav-icon {
			float: none;
		}
		.logo {
			float: none;
			&:hover {
				zoom: 1;
				filter: alpha(opacity=90);
				opacity: 0.90;
			}
		}
		.menu {
			display: flex;
			flex: 1 1 auto;
			li {
				float: none;
				a {
					color: #000;
					font-weight: 500;
					-webkit-transition: all .25s ease-in-out;
					-moz-transition: all .25s ease-in-out;
					-ms-transition: all .25s ease-in-out;
					-o-transition: all .25s ease-in-out;
					transition: all .25s ease-in-out;
					&:hover, &:active {
						filter: alpha(opacity=1);
						opacity: 1;
						color: #67B7B7;
						-webkit-transition: all .25s ease-in-out;
						-moz-transition: all .25s ease-in-out;
						-ms-transition: all .25s ease-in-out;
						-o-transition: all .25s ease-in-out;
						transition: all .25s ease-in-out;
					}
				}
			}
		}
		.language {
			float: none;
			li {
				a {
					color: rgba(0, 0, 0, 0.5);
					font-weight: 500;
					-webkit-transition: all 250ms linear;
					-moz-transition: all 250ms linear;
					-o-transition: all 250ms linear;
					-ms-transition: all 250ms linear;
					transition: all 250ms linear;
					&:hover {
						color: #67B7B7;
						-webkit-transition: all 250ms linear;
						-moz-transition: all 250ms linear;
						-o-transition: all 250ms linear;
						-ms-transition: all 250ms linear;
						transition: all 250ms linear;
					}
				}
			}
		}
		#nav-icon {
			float: none;
			position: relative;
			& > span {
				background: #000;
			}
		}
		@media all and (max-width: 1440px){
			&-wrapper {
				width: 90%
			}
		}

		@media all and (max-width: 1280px){
			&-wrapper {
				width: 100%;
				margin: 0 20px;
			}
			.logo {
				height: 45px;
			}
		}
		@media all and (max-width: 1024px){

			&-wrapper {
				justify-content: space-between;
			}
			.logo {
				height: 43px;
			}
			.menu {
				display: none;
			}
		}

		@media all and (max-width: 512px){
			.logo {
				height: 37px;
			}
		}
	}
	.text-lessons {
		overflow-x: hidden;
	}
	.centered-form {
		position: relative;
		padding: 0 20px;

		.centered_background {
			left: -50%;
			width: 999999px;
			height: 100%;
		}
	}
	.lesson_absolute_content {
		position: static;
	}
	&-block {
		box-sizing: border-box;
		display: flex;
		align-items: center;

		&._revert {
			.pageLesson-block-image {
				order: 1
			}
		}

		&-image {
			flex: 0 0 auto;
			min-height: 500px;
			background: center no-repeat;
			background-size: cover;
			width: 50%;
			box-sizing: border-box;
			align-self: stretch;
		}

		&-text {
			flex: 0 0 auto;
			box-sizing: border-box;
			width: 50%;
			padding: 20px 160px 20px 80px;
			align-self: center;

			& > h3 {
				padding-top: 15px;
				position: relative;
				color: #67B7B7;
				margin-bottom: 20px;

				&::before {
					box-sizing: border-box;
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 80px;
					height: 3px;
					background: #67B7B7;
				}
			}
		}
	}
	@media all and (max-width: 1280px) {
		&-block {
			&-image {
				min-height: 450px;
			}
			&-text {
				padding: 20px 100px 20px 60px;
			}
		}
	}
	@media all and (max-width: 1024px) {
		&-block {
			&-image {
				min-height: 400px;
			}
			&-text {
				padding: 20px 80px 20px 20px;
			}
		}
	}
	@media all and (max-width: 864px) {
		&-block {
			flex-direction: column;

			&._revert {
				.pageLesson-block-image {
					order: 0;
				}
			}
			&-image {
				width: 100%;
			}
			&-text {
				width: 100%;
				padding: 40px 60px 60px 20px;
			}
		}
	}
}
.pageLessonsList {
	.header {
		width: 100%;
		position: fixed;
		margin-top: 0;
		padding-top: 25px;
		padding-bottom: 20px;
		z-index: 2;
		background: #fff;
		&-wrapper {
			width: 85%;
			margin: 0 auto;
			display: flex;
		}
		.nav-icon {
			float: none;
		}
		.logo {
			float: none;
			&:hover {
				zoom: 1;
				filter: alpha(opacity=90);
				opacity: 0.90;
			}
		}
		.menu {
			display: flex;
			flex: 1 1 auto;
			li {
				float: none;
				a {
					color: #000;
					font-weight: 500;
					-webkit-transition: all .25s ease-in-out;
					-moz-transition: all .25s ease-in-out;
					-ms-transition: all .25s ease-in-out;
					-o-transition: all .25s ease-in-out;
					transition: all .25s ease-in-out;
					&:hover, &:active {
						filter: alpha(opacity=1);
						opacity: 1;
						color: #67B7B7;
						-webkit-transition: all .25s ease-in-out;
						-moz-transition: all .25s ease-in-out;
						-ms-transition: all .25s ease-in-out;
						-o-transition: all .25s ease-in-out;
						transition: all .25s ease-in-out;
					}
				}
			}
		}
		.language {
			float: none;
			li {
				a {
					color: rgba(0, 0, 0, 0.5);
					font-weight: 500;
					-webkit-transition: all 250ms linear;
					-moz-transition: all 250ms linear;
					-o-transition: all 250ms linear;
					-ms-transition: all 250ms linear;
					transition: all 250ms linear;
					&:hover {
						color: #67B7B7;
						-webkit-transition: all 250ms linear;
						-moz-transition: all 250ms linear;
						-o-transition: all 250ms linear;
						-ms-transition: all 250ms linear;
						transition: all 250ms linear;
					}
				}
			}
		}
		#nav-icon {
			float: none;
			position: relative;
			& > span {
				background: #000;
			}
		}
		@media all and (max-width: 1440px){
			&-wrapper {
				width: 90%
			}
		}

		@media all and (max-width: 1280px){
			&-wrapper {
				width: 100%;
				margin: 0 20px;
			}
			.logo {
				height: 45px;
			}
		}
		@media all and (max-width: 1024px){

			&-wrapper {
				justify-content: space-between;
			}
			.logo {
				height: 43px;
			}
			.menu {
				display: none;
			}
		}

		@media all and (max-width: 512px){
			.logo {
				height: 37px;
			}
		}
	}
	.text-lessons {
		overflow-x: hidden;
	}
	.centered-form {
		position: relative;
		padding: 0 20px;
		.centered_background {
			left: -50%;
			width: 999999px;
			height: 100%;
		}
	}
	.lessons_list_absolute {
		position: static;
		display: flex;
		flex-wrap: wrap;
		.lessons_list_item {
			float: none;
			width: 33%;
			box-sizing: border-box;
		}
		@media all and (max-width: 864px) {
			.lessons_list_item {
				width: 50%;
			}
		}
		@media all and (max-width: 640px) {
			.lessons_list_item {
				width: 100%;
			}
		}
	}
}

.fuckingPadding {
	padding-left: 20px;
	padding-right: 20px;
}

.pagePhilosophy{
	.header {
		width: 100%;
		position: fixed;
		margin-top: 0;
		padding-top: 25px;
		padding-bottom: 20px;
		z-index: 2;
		background: #fff;
		&-wrapper {
			width: 85%;
			margin: 0 auto;
			display: flex;
		}
		.nav-icon {
			float: none;
		}
		.logo {
			float: none;
			&:hover {
				zoom: 1;
				filter: alpha(opacity=90);
				opacity: 0.90;
			}
		}
		.menu {
			display: flex;
			flex: 1 1 auto;
			li {
				float: none;
				a {
					color: #000;
					font-weight: 500;
					-webkit-transition: all .25s ease-in-out;
					-moz-transition: all .25s ease-in-out;
					-ms-transition: all .25s ease-in-out;
					-o-transition: all .25s ease-in-out;
					transition: all .25s ease-in-out;
					&:hover, &:active {
						filter: alpha(opacity=1);
						opacity: 1;
						color: #67B7B7;
						-webkit-transition: all .25s ease-in-out;
						-moz-transition: all .25s ease-in-out;
						-ms-transition: all .25s ease-in-out;
						-o-transition: all .25s ease-in-out;
						transition: all .25s ease-in-out;
					}
				}
			}
		}
		.language {
			float: none;
			li {
				a {
					color: rgba(0, 0, 0, 0.5);
					font-weight: 500;
					-webkit-transition: all 250ms linear;
					-moz-transition: all 250ms linear;
					-o-transition: all 250ms linear;
					-ms-transition: all 250ms linear;
					transition: all 250ms linear;
					&:hover {
						color: #67B7B7;
						-webkit-transition: all 250ms linear;
						-moz-transition: all 250ms linear;
						-o-transition: all 250ms linear;
						-ms-transition: all 250ms linear;
						transition: all 250ms linear;
					}
				}
			}
		}
		#nav-icon {
			float: none;
			position: relative;
			& > span {
				background: #000;
			}
		}
		@media all and (max-width: 1440px){
			&-wrapper {
				width: 90%
			}
		}

		@media all and (max-width: 1280px){
			&-wrapper {
				width: 100%;
				margin: 0 20px;
			}
			.logo {
				height: 45px;
			}
		}
		@media all and (max-width: 1024px){

			&-wrapper {
				justify-content: space-between;
			}
			.logo {
				height: 43px;
			}
			.menu {
				display: none;
			}
		}

		@media all and (max-width: 512px){
			.logo {
				height: 37px;
			}
		}
	}
	.text-overflow {
		overflow: hidden;
	}
	.centered-form {
		position: relative;
		padding: 0 20px;

		.centered_background {
			left: -50%;
			width: 999999px;
			height: 100%;
		}
	}
	.ourPhilosophy {
		width: 85%;
		margin: 0 auto;

		@media all and (max-width: 1440px) {
			width: 90%;
		}
		@media all and (max-width: 1280px) {
			width: calc(100% - 40px);
			margin: 0 20px;
		}
	}
}

.pageFriends {
	.header {
		width: 100%;
		position: fixed;
		margin-top: 0;
		padding-top: 25px;
		padding-bottom: 20px;
		z-index: 2;
		background: #fff;
		&-wrapper {
			width: 85%;
			margin: 0 auto;
			display: flex;
		}
		.nav-icon {
			float: none;
		}
		.logo {
			float: none;
			&:hover {
				zoom: 1;
				filter: alpha(opacity=90);
				opacity: 0.90;
			}
		}
		.menu {
			display: flex;
			flex: 1 1 auto;
			li {
				float: none;
				a {
					color: #000;
					font-weight: 500;
					-webkit-transition: all .25s ease-in-out;
					-moz-transition: all .25s ease-in-out;
					-ms-transition: all .25s ease-in-out;
					-o-transition: all .25s ease-in-out;
					transition: all .25s ease-in-out;
					&:hover, &:active {
						filter: alpha(opacity=1);
						opacity: 1;
						color: #67B7B7;
						-webkit-transition: all .25s ease-in-out;
						-moz-transition: all .25s ease-in-out;
						-ms-transition: all .25s ease-in-out;
						-o-transition: all .25s ease-in-out;
						transition: all .25s ease-in-out;
					}
				}
			}
		}
		.language {
			float: none;
			li {
				a {
					color: rgba(0, 0, 0, 0.5);
					font-weight: 500;
					-webkit-transition: all 250ms linear;
					-moz-transition: all 250ms linear;
					-o-transition: all 250ms linear;
					-ms-transition: all 250ms linear;
					transition: all 250ms linear;
					&:hover {
						color: #67B7B7;
						-webkit-transition: all 250ms linear;
						-moz-transition: all 250ms linear;
						-o-transition: all 250ms linear;
						-ms-transition: all 250ms linear;
						transition: all 250ms linear;
					}
				}
			}
		}
		#nav-icon {
			float: none;
			position: relative;
			& > span {
				background: #000;
			}
		}
		@media all and (max-width: 1440px){
			&-wrapper {
				width: 90%
			}
		}

		@media all and (max-width: 1280px){
			&-wrapper {
				width: 100%;
				margin: 0 20px;
			}
			.logo {
				height: 45px;
			}
		}
		@media all and (max-width: 1024px){

			&-wrapper {
				justify-content: space-between;
			}
			.logo {
				height: 43px;
			}
			.menu {
				display: none;
			}
		}

		@media all and (max-width: 512px){
			.logo {
				height: 37px;
			}
		}
	}
	.text-overflow {
		overflow: hidden;
	}
	.centered-form {
		position: relative;
		padding: 0 20px;

		.centered_background {
			left: -50%;
			width: 999999px;
			height: 100%;
		}
	}
	.partnership_text {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		@media all and (max-width: 1440px) {
			width: 90%;
		}
		@media all and (max-width: 1280px) {
			width: calc(100% - 40px);
			margin-left: 20px;
			margin-right: 20px;
		}
	}
}

.pageMain {
	
	.header {
		width: auto;
	}
	.crutch {
		position: absolute;
		min-height: 450px;
		overflow: hidden;
	}
}

.header {
	display: flex;
	width: 85%;

	#nav-icon {
		float: none;
		position: relative;
	}
	.logo-link {
		display: inline-block;
		.logo {
			float: none;
		}
	}
	.menu {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		display: flex;
		li {
			float: none;
		}
	}
	.language {
		float: none;
		display: flex;
	}
	@media all and (max-width: 1440px) {
		width: 90%;
	}

	@media all and (max-width: 1280px) {
		width: calc(100% - 40px);
	}
	@media all and (max-width: 1024px) {
		justify-content: space-between;

		.menu {
			display: none;
		}
		.language {
			display: none;
		}
	}
}

@import '../components/mapInfoWindow/mapInfoWindow';

.video {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.loading {
	position: fixed;
	width: 100%;
	height: 100%;
	background: url('../img/static/loading.gif') center no-repeat;
}

.background {
	position: fixed;
	width: 100%;
	height: 100%;
	background: url('../video/video.jpg') center;
	background-size: cover;
	display: none;
}

.content {
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.container {
	width: 85%;
	margin: 0 auto;
}

.header {
	margin-top: 25px;
}

.container.inner .header {
	overflow: hidden;
	margin-bottom: 20px;
}

a {
	transition: all .25s ease-in-out;
	cursor: pointer;
}


.logo {
	transition: all .25s ease-in-out;
}

.logo:hover {
	zoom: 1;
	filter: alpha(opacity=95);
	opacity: 0.95;
	transition: all .25s ease-in-out;
}

.logo {
	height: 48px;
	float: left;
}

.logo-link:hover {
	opacity: 0.75;
	transition: all .25s ease-in-out;
}

.menu {
	float: left;
	margin-left: 80px;
	margin-top: 15px;
}

.menu li {
	float: left;
	margin-right: 40px;
	list-style: none;
}

.menu li a {
	color: #fff;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
}

.language {
	float: right;
	list-style: none;
	margin-top: 15px;
}

.language li a {
	color: rgba(255, 255, 255, 0.5);
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	transition: all 250ms linear;
}

.language li a:hover {
	zoom: 1;
	filter: alpha(opacity=1);
	opacity: 1;
	color: #fff;
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-ms-transition: all 250ms linear;
	transition: all 250ms linear;
}

.container.inner .menu li a {
	color: #000;
	font-weight: 500;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.container.inner .menu li a:hover, .container.inner .menu li a.active {
	filter: alpha(opacity=1);
	opacity: 1;
	color: #67B7B7;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.container.inner .logo:hover {
	zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.90;
}

.container.inner .language li a {
	color: rgba(0, 0, 0, 0.5);
	font-weight: 500;
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-ms-transition: all 250ms linear;
	transition: all 250ms linear;
}

.container.inner .language li a:hover {
	color: #67B7B7;
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-ms-transition: all 250ms linear;
	transition: all 250ms linear;
}

#nav-icon {
	width: 35px;
	height: 35px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	display: none;
	float: left;
	margin-top: 3px;
	position: absolute;
	z-index: 2;
}

#nav-icon span {
	display: block;
	position: absolute;
	height: 2px;
	width: 50%;
	background: #fff;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.container.inner #nav-icon span {
	background: #000;
}

#nav-icon span:nth-child(even) {
	left: 50%;
	border-radius: 0 9px 9px 0;
}

#nav-icon span:nth-child(odd) {
	left:0px;
	border-radius: 9px 0 0 9px;
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
	top: 8px;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
	top: 16px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
	top: 24px;
}

#nav-icon.open span {
	background: #000;
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
	left: -2px;
	top: 10px;
}

#nav-icon.open span:nth-child(2) {
	left: 9px;
	top: 10px;
}

#nav-icon.open span:nth-child(3) {
	left: -50%;
	opacity: 0;
}

#nav-icon.open span:nth-child(4) {
	left: 100%;
	opacity: 0;
}

#nav-icon.open span:nth-child(5) {
	left: -2px;
	top: 21px;
}

#nav-icon.open span:nth-child(6) {
	left: 9px;
	top: 21px;
}

.mobile_menu {
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	overflow: auto;
}

.mobile_menu .logo {
	margin-top: 15px;
	margin-right: 20px;
}

.line {
	border-bottom: 1px solid #EBEBEB;
	margin-top: 70px;
}

.mobile_menu ul {
	list-style: none;
	margin-top: 80px;
}

.mobile_menu ul li {
	text-align: center;
}

.mobile_menu ul li a {
	color: #000;
	font-size: 36px;
	line-height: 50px;
	font-family: "ff-good-headline-web-pro-con", sans-serif;
	text-decoration: none;
	-moz-transition: all .25s ease-in;
	-o-transition: all .25s ease-in;
	-webkit-transition: all .25s ease-in;
	transition: all .25s ease-in;
}

.mobile_menu ul li a:hover {
	color: #67B7B7;
}

.footer {
	position: absolute;
	height: 40px;
	width: 100%;
	top: 100%;
	margin-top: -80px;

	&-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	&-rightBlock {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
		padding-left: 60px;
	}

}

.footer.inner {
	position: relative;
	top: 0;
	margin: 0;
	padding-top: 20px;
	border-top: 1px solid #ebebeb;
	height: 80px;
}


.container.inner {
	overflow: hidden;
	min-height: 100%;
	margin-bottom: -101px;
}

.socialList {
	display: flex;
	list-style: none;

	&-item {
		margin-right: 10px;
		text-align: center;

		&-link {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 28px;
			width: 28px;
			border: 2px solid rgba(255, 255, 255, 0.25);
			border-radius: 50%;

			&:hover {
				opacity: 0.75;
			}

			&._grayBorder {
				border: 2px solid rgba(0, 0, 0, 0.1);
			}
		}
	}
}

.icon-svg {
	width: 17px;
	height: 17px;

	&._fb {
		width: 16px;
		height: 16px;
	}

	&._fl {
		width: 12px;
		height: 12px;
	}

	&._vk {
		width: 12px;
		height: 12px;
	}

}

.app_links {
	float: left;
}

.app_links li {
	list-style: none;
	float: left;
	margin-right: 12px;
}

.app_links li a {
	border-radius: 2px;
	display: table-cell;
	vertical-align: middle;
	height: 38px;
	width: 123px;
	border: 2px solid rgba(255, 255, 255, 0.25);
	text-align: center;
	&:hover {
		opacity: 0.75;
	}
}

.footer.inner .app_links li a, .footer.inner .social_links li a {
	border: 2px solid rgba(0, 0, 0, 0.1);
}

.links {
	position: absolute;
	top: 70%;
	height: 100px;
	margin-top: -70px;
	width: 100%;
}

.links_list {
	position: relative;
	margin-bottom: 60px;
}

.links_item {
	position: absolute;
	display: none;
	margin-right: 20px;
	padding-right: 20px;
	text-decoration: none;

	& > img {
		float: left;
	}

	& > span {
		border-bottom: 1px solid rgba(255, 255, 255, 0.25);
		transition: all .25s ease;
		color: #fff;
		font-size: 24px;
		line-height: 30px;
		text-decoration: none;
		margin-left: 10px;

		&:hover {
			border-bottom: 1px solid rgba(255, 255, 255, 0);
			transition: all .25s ease;
		}
	}

}

.item_1 {
	display: block;
}

.arrow_left {
	float: left;
	margin-right: 35px;
}

.arrow_right {
	float: left;
}

.arrow_left,
.arrow_right {
	&:hover {
		opacity: 0.75;
	}
}


.container.inner .header {
	position: fixed;
	margin-top: 0;
	padding-top: 25px;
	padding-bottom: 20px;
	z-index: 2;
	background: #fff;
}

.mobile_menu.inner .logo {
	display: none;
}

h3 {
	font-size: 36px;
	font-family: "ff-good-headline-web-pro-con", sans-serif;
	font-weight: normal;
	line-height: 40px;
}

p {
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 7px;
}

p a {
	color: #969696;
	text-decoration: none;
	border-bottom: 1px solid rgba(150, 150, 150, 0.25);
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;
}

p a:hover {
	border-bottom: rgba(150, 150, 150, 0);
	color: #67B7B7;
	transition: all .25s ease;
}

.text {
	padding-top: 95px;
	padding-bottom: 100px;
}

.map {
	width: 100%;
	height: 450px;
	margin-bottom: 80px;
}

.map_absolute {
	position: absolute;
	width: 100%;
	height: 450px;
	top: 95px;
	left: 0;
	z-index: 0;

	&.-onlyMap {

		#map {
			width: 100%;
		}

		.visual {
			display: none;
		}
	}
}

.menu_absolute {
	width: 100%;
	top: 0;
	left: 0;
	background: #fff;
	height: 95px;
	position: fixed;
	z-index: 1;
}

.contacts {
	margin-bottom: 50px;
	overflow: hidden;
}

.contact_item {
	//float: left;
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin-bottom: 40px;
}

.contact_item_heading {
	min-height: 60px;
}

#map {
	height: 450px;
	width: 30%;
	float: left;
}

.visual {
	width: 70%;
	float: right;
	height: 450px;
}

.map_container {
	background: red;
	width: 150px;
	height: 20px;
}

.gm-style-iw {
	top: 0 !important;
	left: 0 !important;
	background-color: #fff;
	border-radius: 3px;
	width: 210px !important;
	height: 110px !important;
	margin-top: 10px;
	margin-left: 0;
	padding: 20px 0px 20px 20px;
}

.banner_absolute {
	width: 100%;
	height: 650px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 0;
	z-index: -1;
}

.banner {
	height: 650px;
	margin-bottom: 80px;
}

.centered_line {
	width: 25%;
	margin: 0 auto;
	border-top: 3px solid #67B7B7;
	margin-bottom: 20px;
}

.centered {
	text-align: center;
	width: 60%;
	margin: 0 auto 80px auto;
}

h1 {
	font-weight: normal;
	font-family: "ff-good-headline-web-pro-con", sans-serif;
	font-size: 64px;
	line-height: 60px;
	margin-bottom: 20px;
}

.separator {
	width: 100%;
	position: absolute;
	left: 0;
	border-top: 1px solid #EBEBEB;
}

.ourPhilosophy {
	padding: 80px 0 50px 0;
	overflow: hidden;
	box-sizing: border-box;
}

.listTheses{
	display: flex;
	flex-wrap: wrap;
	padding: 40px 0 0 0;
	margin: 0 -40px;
	list-style: none;
	box-sizing: border-box;

	&-item {
		position: relative;
		width: 33.3333%;
		margin-bottom: 60px;
		padding: 0 40px;
		box-sizing: border-box;

		&::before {
			content: '';
			position: absolute;
			top: -10px;
			left: 40px;
			margin-bottom: 5px;
			width: 60px;
			height: 3px;
			background: #67B7B7;
		}
	}
}

.thesis {
	box-sizing: border-box;

	&-count {
		color: #67B7B7;
		font-size: 36px;
		line-height: 40px;
		font-family: "ff-good-headline-web-pro-con", sans-serif;
	}

	&-paragraph {
		padding-top: 7px;
		font-family: "futura-pt", sans-serif;
		font-size: 20px;
		line-height: 1.35;
		box-sizing: border-box;
	}
}

.centered_background {
	position: absolute;
	background: #F5F5F5;
	left: 0;
	width: 100%;
	z-index: -1;
}

.centered.form h1 {
	padding-top: 80px;
}

.centered.form {
	padding-bottom: 80px;
}

.fill_form {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	color: #67B7B7;
	font-size: 16px;
	line-height: 38px;
	border-radius: 100px;
	border: 2px solid #67B7B7;
	display: block;
	height: 35px;
	width: 220px;
	text-align: center;
	text-decoration: none;
	margin: 40px auto 20px auto;
}

.icon-chemex {
	margin-bottom: 40px;
}

.fill_form:hover {
	opacity: 1;
	filter: alpha(opacity=1);
	background: #67B7B7;
	color: #fff;
}

.form_number {
	font-size: 48px;
	color: #67B7B7;
	line-height: 40px;
	font-family: "ff-good-headline-web-pro-con", sans-serif;
	margin-bottom: 40px;
}

.application {
	overflow: hidden;
	padding-bottom: 80px;
}

.application h1 {
	text-align: center;
	margin-bottom: 30px;
}

.application_left {
	float: left;
	width: 50%;
	text-align: right;
	height: 600px;
}

.application_left img {
	height: 100%;
	width: auto;
}

.application_right {
	float: left;
	width: 25%;
}

.application_right p {
	margin-left: 40px;
	margin-top: 40px;
}

.application_links {
	list-style: none;
	margin-left: 40px;
	padding-top: 10px;
}

.application_links li {
	margin-top: 20px;
}

.application_links li a {
	border-radius: 4px;
	padding-top: 10px;
	display: inline-block;
	height: 33px;
	width: 150px;
	border: 2px solid #67B7B7;
	text-align: center;

	&:hover {
		opacity: 0.75;
		transition: all .25s ease;
	}
}

.form_fill_radio {
	margin-top: 8px;
}

//label {
//	display: inline-block;
//	cursor: pointer;
//	position: relative;
//	padding-left: 25px;
//	margin-right: 15px;
//	font-size: 13px;
//	color: rgba(255, 255, 255, 0.5);
//	text-transform: uppercase;
//	letter-spacing: 2px;
//	line-height: 20px;
//}
//
//input[type=radio] {
//	display: none;
//}
//
//label:before {
//	content: "";
//	display: inline-block;
//	width: 16px;
//	height: 16px;
//	left: 0;
//	position: absolute;
//	background-color: transparent;
//	border: 1px solid rgba(255, 255, 255, 0.35);
//	border-radius: 100px;
//}

//.radio label:before {
//	border-radius: 4px;
//}
//
//input[type=radio]:checked + label:before {
//	content: "\2022";
//	color: #fff;
//	font-size: 16px;
//	text-align: center;
//	line-height: 17px;
//	border: 1px solid rgba(255, 255, 255, 0.7);
//}

body.-popupOpened {
	overflow: hidden;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.popUp {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: #000;
	overflow-y: auto;

	&-success {
		line-height: 1.3;
		font-size: 20px;
		color: #fff;
		display: block;
		opacity: 0;
		padding: 40px 20px;
		text-align: center;
		animation: fadeIn 0.5s 0.3s forwards;
	}

	&-exit {
		margin-bottom: 20px;
		text-align: right;

		&-link {
			display: inline-block;

			&:hover {
				opacity: 0.75;
				transition: all .25s ease-in-out;
			}
		}
	}

	&-form {
		margin: 80px auto;
		width: 282px;

		&-label {
			display: block;
			padding:0 0 5px 0;
			margin: 0;
			font-family: "futura-pt", sans-serif;
			font-size: 16px;
			line-height: 1.5;
			letter-spacing: 2px;
			color: rgba(255, 255, 255, 0.5);
			text-transform: uppercase;

			&::before {
				display: none;
			}
		}

		& > input[type=radio] {
			display: none;
		}

		& > input[type=radio]:checked + .popUp-form-radio::after {
			content: '';
			position: absolute;
			top: calc(50% - 4px);
			left: 6px;
			width: 4px;
			height: 4px;
			border: 1px solid rgba(255, 255, 255, 0.7);
			border-radius: 9999px;
			background: rgba(255, 255, 255, 0.7);
		}

		&-radio {
			position: relative;
			display: inline-block;
			margin-bottom: 20px;
			padding-left: 25px;
			font-size: 13px;
			color: rgba(255, 255, 255, 0.5);
			text-transform: uppercase;
			letter-spacing: 2px;
			line-height: 20px;
			cursor: pointer;

			&:nth-of-type(2n+1) {
				margin-right: 15px;
			}

			&:before {
				content: "";
				position: absolute;
				left: 0;
				display: inline-block;
				width: 16px;
				height: 16px;
				border: 1px solid rgba(255, 255, 255, 0.35);
				border-radius: 100px;
				background-color: transparent;
			}
		}

		&-textInput {
			display: block;
			margin-bottom: 20px;
			padding: 10px;
			width: 280px;
			font-family: "futura-pt", sans-serif;
			font-size: 18px;
			line-height: 20px;
			color: #fff;
			border-radius: 3px;
			border: 1px solid rgba(255, 255, 255, 0.25);
			background: transparent;
			transition: all .25s ease;
			box-sizing: border-box;
		}

		&-textarea {
			margin-bottom: 20px;
			padding: 10px;
			width: 260px;
			height: 260px;
			font-family: "futura-pt", sans-serif;
			font-size: 18px;
			line-height: 20px;
			color: #fff;
			background: transparent;
			border: 1px solid rgba(255, 255, 255, 0.25);
			border-radius: 3px;
			resize: none;
		}

		&-textInput,
		&-select,
		&-textarea {

			&:focus {
				border-color: rgba(255, 255, 255, 0.5);
				transition: all .25s ease;
			}
		}

		&-file {
			display: inline-block;
			margin-top: 5px;
			font-family: "futura-pt", sans-serif;
			line-height: 20px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: rgba(255, 255, 255, 0.5);
			text-decoration: none;
			border-bottom: 1px dashed;
			transition: all .25s ease;

			&:hover {
				border-bottom: 1px dashed rgba(255, 255, 255, 0);
				transition: all .25s ease;
			}
		}
	}
}

.btn {
	padding: 0 20px;
	margin-top: 20px;
	font-family: "futura-pt", sans-serif;
	font-size: 16px;
	line-height: 38px;
	letter-spacing: 2px;
	color: #67B7B7;
	border: 2px solid #67B7B7;
	background: transparent;
	border-radius: 100px;
	text-transform: uppercase;
	transition: all .25s ease;
	cursor: pointer;

	&:hover {
		color: #fff;
		background: #67B7B7;
		transition: all .25s ease;
	}

	&.-disabled {
		opacity: 0.3;
		filter: alpha(opacity=0.3);
		cursor: default;

		&:hover {
			background: transparent;
			color: #67B7B7;
		}
	}
}


.banner_absolute_top {
	position: absolute;
	left: 0;
	width: 100%;
	height: 650px;
	color: #fff;
	background: url('../images/bg.png') center repeat-y;
}

.banner_absolute_top_container {
	width: 85%;
	margin: 0 auto;
}

.banner_absolute_top_left {
	width: 50%;
	margin-top: 140px;
}

.banner_absolute_top_left h1, .banner_absolute_top_left p, .banner_absolute_top_left a {
	margin-right: 15%;
}

.file {
	margin-top: 15px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;
}

.file img {
	margin-right: 15px;
	float: left;
	margin-top: 5px;
}

.file_description {
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;
}

.file:hover .file_description {
	border-bottom: 1px solid transparent;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;
}

.file_size {
	color: rgba(255, 255, 255, 0.5);
}

.what_we_can li {
	list-style: none;
	float: left;
	width: 25%;
	margin-bottom: 30px;
}

.what_we_can {
	overflow: hidden;
	padding-bottom: 50px;
}

.what_we_can li p {
	margin-right: 40px;
}

.what_we_can_number {
	width: 58px;
	height: 58px;
	border-radius: 100px;
	border: 2px solid #67B7B7;
	line-height: 58px;
	text-align: center;
	font-family: "ff-good-headline-web-pro-con", sans-serif;
	font-size: 36px;
	color: #67B7B7;
	margin-bottom: 15px;
}

.text_left {
	width: 50%;
	float: left;
}

.text_right {
	width: 50%;
	float: right;
}

.text_left p, .text_right p {
	margin-right: 80px;
}

.partnership_text {
	overflow: hidden;
	margin: 80px 0;
}

.partnership_text .file {
	color: #67B7B7;
}

.partnership_text .file_description {
	border-bottom-color: rgba(103, 183, 183, 0.25);
}

.partnership_text .file_size {
	color: #969696;
}

.text.partnership .fill_form {
	display: inline-block;
	margin-top: 80px;
}

.text.partnership .centered.form {
	padding-bottom: 40px;
}

.text.partnership .centered {
	margin-bottom: 0;
}

.text.lessons .centered.form img {
	margin-top: 40px;
}

.text.lessons .centered.form {
	margin-bottom: 0;
}

.lessons_list_absolute {
	position: absolute;
	left: 0;
	width: 100%;
}

.lessons_list_item {
	width: 33.33%;
	width: calc(100% / 3);
	height: 400px;
	float: left;
	padding-bottom: 1px;
}

.lessons_list_item_content {
	//padding-right: 1px;
}

.lessons_list_item_content a {
	display: block;
	width: 100%;
	height: 400px;
	background: center no-repeat;
	text-decoration: none;
	color: #fff;
	transition: opacity 0.3s ease-in-out;
	&:hover {
		opacity: 0.75;
	}
}

.lessons_list_item_content a span {
	//margin-left: 60px;
	font-size: 64px;
	font-family: "ff-good-headline-web-pro-con", sans-serif;
	line-height: 600px;
	text-align: center;
}

.lessons_list_item_content a span.lessons_list_item_content_bg {
	margin: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	display: block;
}

.text.lessons .centered.form.end img {
	margin-top: 20px;
	margin-bottom: 20px;
}

.lesson_absolute_content {
	position: absolute;
	width: 100%;
	left: 0;
	overflow: hidden;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.instructions {
	padding: 80px 0;
	overflow: hidden;
}

.instruction_column {
	float: left;
	width: 33.33%;
	width: calc(100% / 3);
}

.instruction_column h3 {
	margin-bottom: 20px;
}

.instruction_column p, .instruction_column h3 {
	margin-right: 40px;
}

.timer h1 {
	color: #67B7B7;
}

.timer img {
	float: left;
	margin-right: 20px;
}

.lesson_item_1 div, .lesson_item_2 div {
	width: 50%;
	float: left;
	height: 500px;
}

.lesson_item_left {
	background: url('../img/static/pic.jpg') center no-repeat;
	background-size: cover;
}

.lesson_item_2 div.lesson_item_left {
	float: right;
}

.lesson_item_left, .lesson_item_right {
	overflow: hidden;
}

.lesson_item_right p, .lesson_item_right h3 {
	margin-left: 80px;
	margin-right: 160px;
}

.lesson_item_right h3 {
	color: #67B7B7;
	margin-bottom: 20px;
}

.lesson_line {
	width: 80px;
	border-bottom: 3px solid #67B7B7;
	margin-top: 160px;
	margin-bottom: 10px;
}

.events_banner {
	margin-bottom: 140px;
}

.events_banner_absolute, .events_banner, .events_banner_absolute_bg {
	height: 400px;
}

.events_banner_absolute {
	position: absolute;
	left: 0;
	width: 100%;
	background: url('../img/static/events.jpg') center no-repeat;
	background-size: cover;
}

.events_banner_absolute_bg {
	width: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
}

.events_banner_absolute h1 {
	margin-top: 180px;
	color: #fff;
}

.events_banner_dates {
	overflow: hidden;
	color: #fff;
	height: 76px;
}

.events_banner_dates div {
	width: 55px;
	float: left;
	margin-right: 10px;
}

.events_banner_dates div a {
	display: block;
	width: 53px;
	height: 40px;
	line-height: 40px;
	border: 2px solid #67B7B7;
	border-radius: 3px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	margin-top: 32px;
}

.events_banner_dates div a.pressed {
	background: #67B7B7;
}

.not_active {
	opacity: 0.5;
	filter: alpha(opacity=0.5);
	width: 53px;
	height: 40px;
	line-height: 40px;
	border: 2px solid #fff;
	border-radius: 3px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	margin-top: 32px;
}

.events_banner_month {
	height: 25px;
	font-size: 20px;
}

.events_banner_month+p, .events_banner_month+.pressed {
	margin-top: 0;
}

.events_list_date {
	font-size: 48px;
	font-family: "ff-good-headline-web-pro-con", sans-serif;
	margin-bottom: 40px;
}

.events_list_date span {
	font-size: 144px;
}

.events_wrapper {
	margin-bottom: -20px;
}

.events_list_table {
	margin-bottom: 120px;
}

.events_list_item {
	cursor: pointer;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;
	filter: alpha(opacity=1);
	opacity: 1;
}

.events_list_item:hover {
	filter: alpha(opacity=75);
	opacity: 0.75;
}

.events_list_item_image {
	width: 60px;
	padding-right: 15px;
}

.events_list_item_image img {
	max-width: 60px;
}

.events_list_item p {
	display: inline;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	font-size: 24px;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;
}

.events_list_item p:hover {
	border-bottom-color: #fff;
}

.events_list_item td {
	padding-bottom: 10px;
}

.event_text_absolute {
	background: #F5F5F5;
	width: 100%;
	left: 0;
	position: absolute;
	z-index: -1;
}

.event_text {
	width: 60%;
	margin: 0 auto;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

.event_text h1 {
	margin-bottom: 30px;
}

.event_text_image {
	width: 100%;
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 20px;
}

.event_text p {
	margin-bottom: 40px;
}

.cafe_menu_absolute {
	//position: absolute;
	left: 0;
	width: 100%;
	//background: url('../img/static/cafe_menu_bg.jpg') center no-repeat;
	//background-size: cover;
}

.cafe_menu_tablet {
	width: 70%;
	background: url('../img/static/tablet.png') no-repeat;
	padding-bottom: 40px;
	background-size: cover;
	margin: 40px auto 0 auto;
	overflow: hidden;
}

.cafe_menu_tablet_text {
	margin: 0 auto;
	padding-top: 450px;
	width: 70%;
}

.cafe_menu_tablet_text_left, .cafe_menu_tablet_text_right {
	float: left;
	width: 50%;
}

.cafe_menu_tablet_heading, .cafe_menu_tablet_heading_empty {
	border-bottom: 2px solid #000;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 21px;
	display: inline-block;
}

.cafe_menu_tablet_heading_empty {
	border-bottom-color: transparent;
}

.cafe_menu_tablet_position {
	overflow: hidden;
	margin-top: 10px;

	&._hover {
		&:hover {
			cursor: pointer;
			opacity: 0.75;
		}
	}
}


.cafe_menu_tablet_item {
	width: 75%;
	float: left;
	line-height: 22px;
	box-sizing: border-box;
	padding-right: 10px;
}

.cafe_menu_tablet_item span {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
}

.cafe_menu_tablet_price {
	float: right;
	width: 25%;
	color: #754C24;
}

.rouble {
	font-family: "PT Sans", serif;
}

.cafe_menu_links {
	clear: both;
	padding-top: 20px;
	padding-bottom: 10px;
}

.cafe_menu_links a {
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.fill_form.fill_form_long {
	padding: 0 25px;
}

@media all and (max-width: 1800px) {

	.cafe_menu_tablet_text {
		padding-top: 400px;
	}

}

@media all and (max-width: 1600px) {

	.banner_absolute, .banner {
		height: 600px;
	}

	.banner_absolute_top {
		height: 600px;
	}

	.banner_absolute_top_left {
		margin-top: 100px;
	}

	.cafe_menu_tablet_text {
		padding-top: 350px;
	}

}

@media all and (max-width: 1440px) {

	.events_banner_absolute, .events_banner, .events_banner_absolute_bg {
		height: 350px;
	}

	.events_banner_absolute h1 {
		margin-top: 140px;
	}

	.lesson_item_right p, .lesson_item_right h3 {
		margin-left: 60px;
		margin-right: 140px;
	}

	.lesson_line {
		margin-top: 140px;
	}

	.menu {
		margin-left: 40px;
	}

	.menu li {
		margin-right: 25px;
	}

	.container {
		width: 90%;
	}

	.banner_absolute_top_container {
		width: 90%;
	}

	.banner_absolute, .banner {
		height: 550px;
	}

	.banner_absolute_top {
		height: 550px;
	}

	.banner_absolute_top_left {
		margin-top: 80px;
	}

	.banner_absolute_top_left h1, .banner_absolute_top_left p, .banner_absolute_top_left a {
		margin-right: 10%;
	}

	.lessons_list_item {
		height: 350px;
	}

	.lessons_list_item_content a {
		height: 350px;
	}

	.lessons_list_item_content a span {
		line-height: 500px;
	}

	.cafe_menu_tablet_text {
		padding-top: 300px;
	}

}

@media all and (max-width: 1280px) {

	.cafe_menu_tablet_heading {
		font-size: 20px;
	}

	.cafe_menu_tablet {
		width: 75%;
	}

	.event_text_image {
		height: 400px;
	}

	.events_list_date {
		font-size: 36px;
		margin-bottom: 30px;
	}

	.events_list_date span {
		font-size: 72px;
	}

	.events_banner {
		margin-bottom: 100px;
	}

	.events_wrapper {
		margin-bottom: -10px;
	}

	.events_list_table {
		margin-bottom: 80px;
	}

	.events_list_item_image {
		width: 50px;
	}

	.events_list_item_image img {
		max-width: 50px;
	}

	.events_list_item p {
		font-size: 20px;
	}

	.events_banner_absolute, .events_banner, .events_banner_absolute_bg {
		height: 300px;
	}

	.events_banner_absolute h1 {
		margin-top: 120px;
		margin-bottom: 20px;
	}

	.lesson_item_right p, .lesson_item_right h3 {
		margin-left: 60px;
		margin-right: 100px;
	}

	.lesson_item_right h3 {
		margin-bottom: 15px;
	}

	.lesson_line {
		margin-top: 120px;
	}

	.instruction_column p, .instruction_column h3 {
		margin-right: 20px;
	}

	.text.lessons .centered.form img {
		margin-top: 20px;
	}

	.lessons_list_item {
		height: 300px;
	}

	.lessons_list_item_content a {
		height: 300px;
	}

	.lessons_list_item_content a span {
		font-size: 42px;
		line-height: 475px;
		margin-left: 20px;
	}

	.container {
		width: auto;
		margin: 0 20px;
	}

	.banner_absolute_top_container {
		width: auto;
		margin: 0 20px;
	}

	.logo {
		height: 45px;
	}

	.contact_item {
		width: 33.3%;
	}

	.menu_absolute {
		height: 85px;
	}

	.map_absolute {
		top: 85px;
	}

	.text {
		padding-top: 85px;
	}

	.container.inner .header {
		padding-bottom: 15px;
	}

	#map {
		width: 35%;
	}

	.visual {
		width: 65%;
	}

	.banner_absolute, .banner {
		height: 500px;
	}

	.banner_absolute_top {
		height: 500px;
	}

	p {
		font-size: 18px;
	}

	h1 {
		font-size: 42px;
		line-height: 40px;
		margin-bottom: 10px;
	}

	.timer img {
		margin-top: -10px;
	}

	.timer h1 {
		padding-top: 10px;
	}

	.form_number {
		font-size: 42px;
		line-height: 35px;
		margin-bottom: 30px;
	}

	.fill_form {
		margin: 30px auto 10px auto;
	}

	.application_left {
		height: 500px;
	}

	.banner_absolute_top_left {
		margin-top: 80px;
	}

	.banner_absolute_top_left h1, .banner_absolute_top_left p, .banner_absolute_top_left a {
		margin-right: 5%;
	}

	.what_we_can_number {
		width: 53px;
		height: 53px;
		line-height: 53px;
		text-align: center;
		font-family: "ff-good-headline-web-pro-con", sans-serif;
		font-size: 30px;
		color: #67B7B7;
		margin-bottom: 15px;
	}

	.text_left p, .text_right p {
		margin-right: 40px;
	}

	.lesson_item_1 div, .lesson_item_2 div {
		height: 450px;
	}

}

@media all and (max-width: 1024px) {

	.cafe_menu_tablet_text {
		padding-top: 275px;
	}

	.cafe_menu_tablet {
		width: 90%;
	}

	.event_text {
		padding-bottom: 70px;
	}

	.event_text {
		padding-top: 60px;
	}

	.event_text p {
		margin-bottom: 30px;
	}

	.lesson_item_right p, .lesson_item_right h3 {
		margin-left: 20px;
		margin-right: 80px;
	}

	.lesson_line {
		margin-top: 90px;
	}

	.lesson_item_1 div, .lesson_item_2 div {
		height: 400px;
	}

	.text.lessons .centered.form.end img {
		margin-bottom: 10px;
	}

	.instructions {
		padding: 60px 0;
	}

	.instruction_column {
		width: 50%;
	}

	.instruction_column.timer {
		width: 100%;
		margin-bottom: 40px;
	}

	.lessons_list_item {
		height: 260px;
	}

	.lessons_list_item_content a {
		height: 260px;
	}

	.lessons_list_item_content a span {
		line-height: 400px;
	}

	.logo {
		float: right;
	}

	.menu, .language {
		display: none;
	}

	.container {
		margin: 0 20px;
	}

	.header {
		margin-top: 15px;
	}

	.container.inner .header {
		margin: 0;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.logo {
		height: 43px;
	}

	#nav-icon {
		display: block;
	}

	.footer {
		margin-top: -60px;
	}

	.text {
		padding-top: 70px;
	}

	.map {
		margin-bottom: 60px;
	}

	.contacts {
		margin-bottom: 20px;
	}

	.menu_absolute {
		height: 70px;
	}

	.map_absolute {
		top: 70px;
	}

	.text {
		padding-top: 70px;
	}

	.container.inner .header {
		padding-bottom: 0px;
	}

	.footer.inner {
		height: 60px;
	}

	.container.inner {
		margin-bottom: -81px;
	}

	.text {
		padding-bottom: 80px;
	}

	#map {
		width: 50%;
	}

	.visual {
		width: 50%;
	}

	.application_right {
		width: 35%;
	}

	.application_links li a {
		height: 33px;
		padding-top: 7px;
	}

	.banner_absolute_top_left {
		margin-top: 60px;
	}

	.what_we_can {
		padding-bottom: 40px;
	}

	.partnership_text {
		margin: 65px 0;
	}

	.lessons .centered.form {
		padding-bottom: 60px;
	}

	.lessons .centered.form h1 {
		padding-top: 60px;
	}

}

@media all and (max-width: 864px) {

	.cafe_menu_absolute {
		background: url('../images/paper.jpg');
	}

	.cafe_menu_tablet {
		background: none;
		padding-top: 40px;
		width: auto;
		margin: 0 20px;
	}

	.cafe_menu_tablet_text {
		padding-top: 0;
		width: 100%;
	}

	.event_text_image {
		height: 400px;
	}

	.banner_absolute_top_left {
		width: 100%;
	}

	.banner_absolute_top {
		background: rgba(0, 0, 0, 0.7);
	}

	.banner_absolute_top_left {
		margin-top: 120px;
	}

	.banner_absolute_top_left h1, .banner_absolute_top_left p, .banner_absolute_top_left a {
		margin-right: 0;
	}

	.what_we_can li {
		width: 50%;
		margin-bottom: 20px;
	}

	.what_we_can li p {
		margin-right: 20px;
	}

	.lessons_list_item {
		width: 50%;
	}

	.lesson_item_1 div, .lesson_item_2 div {
		width: 100%;
	}

	.lesson_item_1 div.lesson_item_right, .lesson_item_2 div.lesson_item_right {
		height: auto;
		padding: 40px 0 60px 0;
	}

	.lesson_item_right p, .lesson_item_right h3 {
		margin-left: 20px;
		margin-right: 60px;
	}

	.lesson_line {
		margin-top: 0;
	}

}

@media all and (max-width: 768px) {

	.cafe_menu_tablet_heading {
		padding-top: 10px;
	}

	.cafe_menu_tablet_price {
		text-align: right;
	}

	.cafe_menu_tablet_text_left, .cafe_menu_tablet_text_right {
		width: 100%;
	}

	.event_text {
		width: 100%;
	}

	.events_banner_dates div {
		width: 40px;
	}

	.events_banner_dates div a, .not_active {
		width: 38px;
	}

	.video {
		display: none;
	}

	.background {
		display: block;
	}

	.links {
		top: 60%;
		height: 100px;
		margin-top: -60px;
	}

	.links_list {
		margin-bottom: 80px;
	}

	.contact_item {
		width: 50%;
	}

	.banner_absolute, .banner {
		height: 400px;
	}

	.banner_absolute_top {
		height: 400px;
	}

	.centered {
		width: auto;
	}

	.listTheses {
		margin: 0;

		&-item {
			margin-bottom: 30px;
			width: 100%;
			padding: 0;

			&::before {
				left: 0;
				width: 5%;
			}
		}
	}

	.thesis {
		display: flex;

		&-count {
			padding-right: 5%;
			width: 5%;
		}

		&-paragraph {
			padding-top: 15px;
			width: 88%;
			font-size: 18px;
		}
	}

	.application_right {
		width: 40%;
	}

	.application_left {
		height: 450px;
	}

	.application_right p {
		margin-top: 20px;
	}

	.application_links {
		padding-top: 0;
	}

	.application_links li {
		margin-top: 15px;
	}

	.form_fill form {
		margin: 40px auto 60px auto;
	}

	.banner_absolute_top_left {
		margin-top: 60px;
	}

	.text_left, .text_right {
		float: none;
		width: 100%;
	}

	.text_left {
		margin-bottom: 30px;
	}

	.text_left p, .text_right p {
		margin-right: 20px;
	}

	.text.partnership .fill_form {
		margin-top: 70px;
	}

}

@media all and (max-width: 640px) {

	.map_absolute.-onlyMap #map {
		height: 700px;
	}

	.event_text_image {
		height: 300px;
	}

	.instructions {
		padding-bottom: 100px;
	}

	.instruction_column {
		width: 100%;
	}

	.instruction_column+.instruction_column {
		margin-bottom: -60px;
	}

	.footer {
		height: 100px;
		margin-top: -115px;

		&-rightBlock {
			padding-left: 0;
		}

	}

	.app_links {
		width: 100%;
	}

	.socialList {
		padding-top: 20px;
	}


	.copyright {
		margin-top: 25px;
	}

	.footer.inner {
		height: 110px;
	}

	.container.inner {
		margin-bottom: -131px;
	}

	.text {
		padding-bottom: 130px;
	}

	#map {
		width: 100%;
		height: 350px;
	}

	.visual {
		width: 100%;
		height: 350px;
	}

	.map_absolute, .map {
		height: 700px;
	}

	.thesis {

		&-count {
			padding-right: 5%;
			width: 10%;
		}

		&-paragraph {
			padding-top: 15px;
			width: 75%;
		}
	}

	.application_left {
		height: 400px;
	}

	.application_right {
		width: 45%;
	}

	.application_right p {
		margin-left: 20px;
	}

	.application_links {
		margin-left: 20px;
	}

	.banner_absolute_top_left {
		margin-top: 40px;
	}

	.lessons_list_item {
		width: 100%;
	}

}

@media all and (max-width: 560px) {

	.text.partnership .banner_absolute_top, .text.partnership .banner_absolute, .text.partnership .banner {
		height: 450px;
	}

	.banner_absolute_top_left {
		margin-top: 40px;
	}

}

@media all and (max-width: 512px) {

	.application_left {
		display: none;
	}

	.application_right {
		width: 100%;
	}

	.application_right p {
		margin: 0;
		text-align: center;
	}

	.logo {
		height: 40px;
	}

	.contact_item {
		width: 100%;
	}

	.contact_item_heading {
		min-height: 0;
	}

	h3 {
		margin-bottom: 15px;
	}


	.ourPhilosophy {
		padding: 60px 0 30px 0;
		overflow: hidden;
	}

	.centered {
		margin-bottom: 60px;
	}

	.centered.form {
		padding-bottom: 80px;
	}

	.application h1 {
		margin-bottom: 10px;
	}

	.application_links li {
		text-align: center;
	}

	.application_right p {
		margin-left: 0;
	}

	.application_links {
		margin-left: 0;
		margin-top: 30px;
	}

	.application_links li a {
		text-align: center;
	}

	.what_we_can li {
		width: 100%;
	}

	.what_we_can_number {
		float: left;
	}

}

@media all and (max-width: 460px) {

	.text.partnership .banner_absolute_top, .text.partnership .banner_absolute, .text.partnership .banner {
		height: 520px;
	}

	.thesis {

		&-count {
			padding-right: 5%;
			width: 10%;
		}

		&-paragraph {
			width: 70%;
		}
	}

}

@media all and (max-width: 360px) {

	.logo {
		height: 37px;
		margin-top: 2px;
	}

	.mobile_menu .logo {
		margin-top: 17px;
	}

	.mobile_menu ul {
		margin-top: 40px;
	}

	.text.partnership .banner_absolute_top, .text.partnership .banner_absolute, .text.partnership .banner {
		height: 640px;
	}

}